@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	position: relative;
	-webkit-transition: left 0.5s; transition: left 0.5s;
	&.slide {left: $slideLeft;}
}
html {height: 100%;}

/* Defaults */
.clearfix {display: block; clear: both;}
.img-full {img{width: 100%;}}
.alpha {padding-left: 0px;}
.omega {padding-right: 0px;}
.show-mobile {display: none;}
.hide-mobile {display: block;}
.col-center {float: none; margin: auto;}
.pull-left {float: left;}
.push-right {float: right;}
h1, h2, h3, h4, h5, p {margin: 0; padding: 0;}
p {font-size: 18px; line-height: 22px;}
section {&.full_height {height: 99%;}}
input {-webkit-appearance: none;}

.heading_full {
	position: relative; margin: 60px 0px;
	h2 {
		position: relative; z-index: 20; background: $light_bg; display: table; margin: auto;
		padding: 0px 25px; letter-spacing: 4px; font-size: 18px; text-transform: uppercase; color: $text_light;
	}
	&:after {content: ""; position: absolute; width: 100%; z-index: 10; height: 1px; background: $text_light; top: 15px;}
}

a:focus, a:hover, input:focus {outline: none; text-decoration: none;}
a {text-decoration: none;}
ul {margin: 0; padding: 0;}
li {list-style-type: none; display: inline-block;}

@media only screen and (max-width: 620px) {
	section.full_height {
		height: auto;
	}
	.heading_full h2 {padding: 0 15px; font-size: 15px;}
	.heading_full:after {top: 12px;}
	html {overflow-y: hidden;}
}
