/*Colors*/
$baseColor: #0055fe;
$border_dark: #c5c5c5;
$border_light: #f1f1f1; 
$placeholder: #adadad;
$light_bg: #f0f0f0;
$text_light: #cacaca;
$light_p: #989898;
$white: #fff;
$purple: #310554;

/* Typography */
$h1 : 58px;
$h2 : 48px;
$h3 : 28px;
$h4 : 18px;
$h5 : px;

$blockquote : 25px;
$p : 16px;
