footer {
    background: $black; color: $white; padding-top:15px;
    .logo {text-align: center; img {max-width: 18px;}}
    .subscribe_form {
        p {color: $white; text-align: center; text-transform: uppercase; font-size: 18px; letter-spacing: 3px; margin: 50px 0 25px;}
        .form_row {
            border-top: 1px solid $light_grey; border-bottom: 1px solid $light_grey;
            input {
                background: $black; border-right: 1px solid $light_grey;
                &::-webkit-input-placeholder {color: $grey_font;}
                &::-moz-placeholder {color: $grey_font;}
                &:-ms-input-placeholder {color: $grey_font;}
                &:-moz-placeholder {color: $grey_font;}
                &[type=submit]{background: $black;}
            }
        }
    }
    .footer_nav {
        margin: 140px 0px 20px; border-bottom: 1px solid $light_grey; padding-bottom: 18px;
        ul {margin: 0; padding: 0; text-align: center;}
        li {
            list-style-type: none; display: inline-block; font-size: 12px; margin: 0px 12px;
            a {
                color: $white;
                &:hover, &:focus {color: $white;}
            }
        }
    }
}

.bottom_section {
    text-align: center; padding: 0px 0px 20px; font-size: 8px; text-transform: uppercase; letter-spacing: 3px;
    @include clearfix();
    .rights {float: left; span{color: $grey_font;}}
    .social {
        position: absolute; left: 50%; width: 120px; margin-left: -60px;
        li {margin: 0px 5px;}
        img {max-width: 16px;}
    }
    .made_by {float: right;}
    div {display: inline-block;}
}